# Несколько проектов из гитхаба

## Необходимые импорты

In [1]:
import pandas as pd                     # for tasks 1, 2
import numpy as np                      # for tasks 1, 2

import PIL.Image                        # for task 2
import glob                             # for task 2

from sys import exit                    # for task 2
from keras.models import load_model     # for task 2

import warnings
warnings.filterwarnings('ignore')

## task 1
## https://github.com/nowayqq/test_mindbox

### Дополнительная функция

In [2]:
def sum_of_digits(num):

    summ = 0

    while num > 0:
        digit = num % 10
        summ += digit
        num //= 10

    return summ

### Реализация без библиотек

In [3]:
def group_score(arr, n_customers):

    unique_groups = dict()

    for i in range(n_customers):
        if arr[i] not in unique_groups:
            unique_groups[arr[i]] = 1
        else:
            unique_groups[arr[i]] += 1

    return dict(sorted(unique_groups.items(), key=lambda value: value[1]))


data = [7412567, 7412576, 12576, 12554, 888431]
groups = []

for item in data:
    groups.append(sum_of_digits(item))

print(groups)
print(group_score(groups, len(groups)))

[32, 32, 21, 17, 32]
{21: 1, 17: 1, 32: 3}

### Реализация через массивы

In [4]:
def group_score(arr):

    return np.asarray(np.unique(arr, return_counts=True)).T


data = np.array([7412567, 7412576, 12576, 12554, 888431])
groups = []

for item in data:
    groups.append(sum_of_digits(item))

print(group_score(groups))

[[17  1]
 [21  1]
 [32  3]]

### Реализация через датафреймы

In [5]:
def group_score(df):

    return df.groupby('group').count()


data = pd.read_csv('data/data1.csv')
data['group'] = 0

for i in range(len(data.ID)):
    data.loc[:, 'group'][i] = sum_of_digits(data.loc[:, 'ID'][i])

print(data)
print(group_score(data))

        ID    name  group
0  7412567   Johan     32
1  7412576    John     32
2    12576  Joseph     21
3    12554   Arbuz     17
4   888431  Zuhrat     32
       ID  name
group
17      1     1
21      1     1
32      3     3

## task 2
## https://github.com/nowayqq/cnn-for-images

### Ручная проверка моей нейронной сети

### Загрузка обученной модели и определение классов

In [6]:
model = load_model('data/model.h5')
dataset_path = "data/your_images/"
classes = np.array(['airplane', 'automobile', 'bird',
                    'cat', 'deer', 'dog', 'frog',
                    'horse', 'ship', 'truck'])

### Подготовка изображений

In [7]:
images = []

for filename in glob.glob(f'{dataset_path}/*.jpg'):
    im = PIL.Image.open(filename)
    im = im.resize((32, 32), PIL.Image.Resampling.LANCZOS)
    if im in images:
        continue
    images.append(im)

if len(images) == 0:
    exit(f'No images in {dataset_path} directory\n' +
         'Note: \'.jpg\' is only acceptable format')

for i in range(len(images)):
    images[i] = np.array(images[i])

images = np.array(images).astype('float32') / 255.0

### Предсказание и вывод результатов

In [8]:
pred = model.predict(images)

df = pd.DataFrame(np.round(pred * 100, 2))
df.columns = classes

arr = []

for i in range(len(df.index)):
    for item in df:
        for value in df[item]:
            if value == df.iloc[i].max():
                arr.append((item, value))

for i in range(len(arr)):
    print(f'The img{df.index[i]} was predicted to be a ' +
          f'{arr[i][0]} with {np.round(arr[i][1], 2)} percent')

1/1 [==============================] - 0s 258ms/step
The img0 was predicted to be a airplane with 94.5 percent
The img1 was predicted to be a cat with 48.27 percent
The img2 was predicted to be a dog with 99.83 percent
The img3 was predicted to be a dog with 93.11 percent
The img4 was predicted to be a automobile with 99.97 percent
The img5 was predicted to be a automobile with 100.0 percent
The img6 was predicted to be a cat with 70.94 percent
The img7 was predicted to be a bird with 80.39 percent
The img8 was predicted to be a dog with 84.14 percent
The img9 was predicted to be a bird with 76.21 percent
The img10 was predicted to be a cat with 53.08 percent
The img11 was predicted to be a cat with 46.18 percent

## Пример написания sql запросов на диалекте sqlite

### Создание таблиц

In [ ]:
CREATE TABLE `Users` (
    `userId` INTEGER PRIMARY KEY AUTOINCREMENT,
    `age` INT  NULL DEFAULT 0
);

CREATE TABLE `Items` (
    `itemId` INTEGER PRIMARY KEY AUTOINCREMENT,
    `price` double NULL DEFAULT 0
);

CREATE TABLE `Purchases` (
    `purchasesId` INTEGER PRIMARY KEY AUTOINCREMENT,
    `userId` INT NULL DEFAULT NULL,
    `itemId` INT NULL DEFAULT NULL,
    `date` INTEGER NULL DEFAULT NULL,
    FOREIGN KEY(itemId) REFERENCES Items(itemid)
    FOREIGN KEY(userid) REFERENCES Users(userid)
);

### Создание данных

In [ ]:
INSERT INTO Items (price)
VALUES(100);
INSERT INTO Items (price)
VALUES(1000);
INSERT INTO Items (price)
VALUES(5000);
INSERT INTO Users (age)
VALUES(19);
INSERT Into Users (age)
VALUES(35);
INSERT Into Users (age)
VALUES(40);
INSERT Into Users (age)
VALUES(5);
INSERT INTO Purchases (userid, itemid, date)
VALUES(1, 2, 1667983600);
INSERT INTO Purchases (userid, itemid, date)
VALUES(2, 3, 1636447600);
INSERT INTO Purchases (userid, itemid, date)
VALUES(2, 3, 1636274800);
INSERT INTO Purchases (userid, itemid, date)
VALUES(3, 1, 1446886000);
INSERT INTO Purchases (userid, itemid, date)
VALUES(4, 3, 1352278000);

### Несколько запросов

In [ ]:
SELECT AVG(price) AS average_price
FROM items
INNER JOIN Purchases On Purchases.itemId = Items.itemId
INNER Join Users on Users.userId = Purchases.userId
WHERE age > 18 and age <= 25;


SELECT AVG(price) AS average_price
FROM items
INNER JOIN Purchases On Purchases.itemId = Items.itemId
INNER Join Users on Users.userId = Purchases.userId
WHERE age > 26 and age <= 35;


select strftime('%m', datetime(date, 'unixepoch')) as month
FROM Purchases
INNER JOIN Items On Items.itemId = Purchases.itemId
INNER Join Users on Users.userId = Purchases.userId
WHERE age >= 35 and price = (SELECT MAX(price) FROM items);


SELECT items.itemId as item
from Items
INNER JOIN Purchases On Purchases.itemId = Items.itemId
INNER Join Users on Users.userId = Purchases.userId
where strftime('%Y', datetime(date, 'unixepoch')) = '2022'
AND price = (SELECT MAX(price) FROM items
            INNER JOIN Purchases on Purchases.itemId = Items.itemId
            where strftime('%Y', datetime(date, 'unixepoch')) = '2022')


SELECT items.itemId as item
from Items
INNER JOIN Purchases On Purchases.itemId = Items.itemId
INNER Join Users on Users.userId = Purchases.userId
where strftime('%Y', datetime(date, 'unixepoch')) = '2021'
ORDER by price DESC
LIMIT 3